body {
	background-color: white;
	color: black;
}

.dark-mode {
	background-color: black;
	color: white;
}

#logo {
	width: 375px;
	height: 125px;
	background-image: url("custombgsite.png");
	text-align: center;
	padding: 0;
	display: block;
	float: none;
	margin-left: auto;
	margin-right: auto;
}

.dark-mode #logo {
	background-image: url("custombgsitedark.png");
}

#banner {
	width: 250px;
	height: 15px;
	font-family: "Helvetica", "Courier New", monospace;
	font-size: 16px;
	text-align: center;
	color: white;
	background: repeating-linear-gradient(
		45deg,
		SlateGrey,
		SlateGrey 10px,
		#434c56 10px,
		#434c56 20px
	);
	padding: 15px;
	margin: 0 auto;
	position: absolute;
	top: 150px;
	left: -50px;
	transform-origin: 0 0;
	transform: rotate(-45deg);
	text-decoration: none;
}

.dark-mode #banner {
	background: repeating-linear-gradient(
		45deg,
		#e2e5e9,
		#e2e5e9 10px,
		#a9b2bc 10px,
		#a9b2bc 20px
	);
	color: black;
}

#page {
	background-color: white;
	width: 40vw;
	height: auto;
	overflow: hidden;
	border-width: 2px;
	border-radius: 2.5em 2.5em 0em 0em;
	border-style: solid solid solid solid;
	border-color: gray;
	text-align: center;
	box-shadow: inset 0 55px 25px -25px #e6e6e6, 0 5px 10px silver;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
}

.dark-mode #page {
	box-shadow: inset 0 55px 25px -25px #262626, 0 5px 10px #3f3f3f;
	background-color: black;
}

#nav ul {
	list-style-type: none;
	margin-top: 0;
	margin-bottom: 45px;
	padding: 0;
}

#nav ul>li {
	display: inline;
}

#item {
	border-width: 2px;
	border-radius: 0em 0em 0.5em 0.5em;
	border-style: solid solid solid solid;
	border-color: gray;
	font-family: "Helvetica", "Courier New", monospace;
	font-size: 16px;
	background-color: white;
	color: SlateGrey;
	text-decoration: none;
	padding: 5px;
}

#item:hover {
	color: white;
	background-color: SlateGrey;
}

.dark-mode #item {
	background-color: black;
	color: SlateGrey;
}

.dark-mode #item:hover {
	background-color: white;
	color: SlateGrey
}

#itemflip {
	border-width: 2px;
	border-radius: 0.5em 0.5em 0.5em 0.5em;
	border-style: solid solid solid solid;
	border-color: gray;
	font-family: "Helvetica", "Courier New", monospace;
	font-size: 16px;
	background-color: white;
	color: SlateGrey;
	text-decoration: none;
	padding: 5px;
}

#itemflip:hover {
	color: white;
	background-color: SlateGray;
}

.dark-mode #itemflip {
	background-color: black;
	color: SlateGrey;
}

.dark-mode #itemflip:hover {
	background-color: white;
	color: SlateGrey
}

#modeswitch {
	width: 80px;
	height: 80px;
	border: none;
	background-image: url("moon.png");
	padding: 5px;
	position: fixed;
	bottom: 10px;
	right: 10px;
	cursor: default;
}

.dark-mode #modeswitch {
	background-image: url("sun.png");
}

#modeswitch:hover {
	cursor: pointer;
}

#header {
	font-family: "Helvetica", "Courier New", monospace;
	font-size: 32px;
	color: SlateGrey;
	text-align: justify;
	padding: 3px;
	margin-top: 2px;
	margin-left: 5px;
	margin-bottom: 2px;
}

#medium {
    font-family: "Helvetica", "Courier New", monospace;
	font-size: 24px;
	color: SlateGrey;
	text-align: justify;
	padding: 3px;
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 2px;
}

hr {
	height: 2px;
	border-width: 0;
	color: #cccccc;
	background-color: #cccccc;
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 15px;
}

#imgpara {
	font-family: "Helvetica", "Courier New", monospace;
	font-size: 18px;
	color: #838c96;
	text-align: left;
	vertical-align: middle;
	display: inline;
	padding: 10px;
	margin: 0 auto;
	float: top;
}

#para {
	font-family: "Helvetica", "Courier New", monospace;
	font-size: 18px;
	color: #838c96;
	text-align: left;
	vertical-align: middle;
	padding: 7px;
	margin-left: 7px;
}

#footer {
	font-family: "Helvetica", "Courier New", monospace;
	font-size: 12px;
	color: grey;
	text-align: center;
}
